<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Style Documentation</title>
  <style>
    body {
      display: flex;
    }

    #nav {
      width: 20%;
      height: 100vh;
      overflow-y: auto;
    }

    #content {
      flex-grow: 1;
      padding: 20px;
    }

    /* Add more styles here */
    .style-docs.ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .style-docs.h1, .style-docs.h2, .style-docs.h3, .style-docs.h4,
    .style-docs.h5, .style-docs.h6 {
      font-family: arial, sans-serif;
      display: block;
      padding: 0;
      margin: 0;
    }

    .style-docs.li {
      font-family: arial, sans-serif;
      list-style-type: none;
      display: block;
      padding: 0;
      margin: 0;
    }

    .style-docs.a {
      background-color: #f4f4f4;
      display: block;
      padding: 0.5em;
      text-decoration: none;
      color: #000;
      font-family: arial, sans-serif;
      font-size: 16px;

      &:hover {
        background-color: #e4e4e4;
      }
    }
  </style>
  {{#each cssFilePaths}}
  <link rel="stylesheet" type="text/css" href="../{{this}}">
  {{/each}}
</head>

<body>
  <div class="nav">
    {{log docsTree}} 
    {{> listPartial docsTree.children }}
  </div>
  <div id="content">
    {{#each docsList}}
    <div id="{{this.title}}">
      <h2 class="style-docs h2">{{this.title}}</h2>
      <div>{{{this.exampleHtml}}}</div>
      <pre><code>{{this.css}}</code></pre>
    </div>
    {{/each}}
  </div>
</body>

</html>
