<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Style Documentation</title>
  <!-- Include PrismJS Stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css" rel="stylesheet" />
  <!-- Include PrismJS Script -->
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/prism.js"></script>

  <style>
    body {
      margin: 1rem;
      display: flex;
      gap: 1rem;
    }

    .style-docs {

      &.nav,
      &.content {
        padding: 1rem;
      }

      &.color-bright {
        color: #fff;
      }
      &.color-dark {
        color: #333;
      }

      &.tree-nav,
      &.tree-content {
        list-style-type: none;
        font-family: arial, sans-serif;
        padding: 0;
        margin: 0;
      }

      &.tree-nav {
        counter-reset: section-nav;

        li {
          counter-increment: section-nav;
        }

        a {
          &::before {
            content: counters(section-nav, ".") " ";
          }
        }
      }

      &.color-boxes, &.control-boxes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem;
        & > * {
          /* max-width: 300px; */
          padding: 0.25rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 50px;
        }

      }

      .tree-content {
        counter-reset: section-content;

        &>li {
          counter-increment: section-content;

          &>.title {
            &::before {
              content: counters(section-content, ".") " ";
            }
            &>.go-top {
              margin-left: 1rem;
              text-decoration: none;
              color: inherit;
            }
          }
        }
      }
      &.summary {
        padding: 0.5em 1em;
        color: #333;
      }
      &.details {
        margin: 0.5em 0;
        border: 1px solid #e4e4e4;
        pre {
          margin: 0;
        }
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .style-docs.nav {
      background-color: #f4f4f4;
      width: 20%;
      min-width: 250px;
      height: 100vh;
      overflow-y: auto;

      .tree-nav {

        li {

          a {

            background-color: white;
            display: block;
            padding: 0.5em;
            text-decoration: none;
            color: #000;
            font-family: arial,
              sans-serif;
            font-size: 16px;
            margin-right: 2em;

            &:hover {
              background-color: #e4e4e4;
            }
          }

          &>details {
            margin-left: 1rem;
          }
        }

        details {
          position: relative;

          summary {
            list-style: none;
            cursor: pointer;
          }

          summary::after {
            position: absolute;
            top: -1.5em;
            right: 0.5em;
            content: '▼';
          }

          &[open]>summary::after {
            color: green;
            transform: rotate(-90deg);
          }
        }

      }

      &>.tree-nav>li>a {
        font-weight: bold;
      }
    }


    .style-docs.content {
      flex-grow: 1;
    }

    /* Add more styles here */

    .style-docs.h1,
    .style-docs.h2,
    .style-docs.h3,
    .style-docs.h4,
    .style-docs.h5,
    .style-docs.h6 {
      font-family: arial, sans-serif;
      display: block;
      padding: 0;
      margin: 0;
    }

    .style-docs.li {
      font-family: arial, sans-serif;
      list-style-type: none;
      display: block;
      padding: 0;
      margin: 0;
    }
    
    .style-docs.p {
      color: #333; 
      padding: 0.5rem 0;
      font-family: arial, sans-serif;
    }
    
    .style-docs.a {
      background-color: #f4f4f4;
      display: block;
      padding: 0.5em;
      text-decoration: none;
      color: #000;
      font-family: arial, sans-serif;
      font-size: 16px;

      &:hover {
        background-color: #e4e4e4;
      }
    }
  </style>
  {{#each cssFilePaths}}
    <link rel="stylesheet" type="text/css" href="../{{this}}">
  {{/each}}
  <style> 
    {{#each fontData}}
      @font-face {
      font-family: {{fontFamily}};
        font-weight: {{fontWeight}};
        font-display: swap;
        font-style: {{fontStyle}};
        src: local("{{srcLocal}}"), url("{{srcUrl}}") format("{{srcFormat}}");
      }
    {{/each}}
  </style>
</head>

<body>
  <div class="style-docs nav">
    {{> listPartialNavTree docsTree.children }}
  </div>
  <div class="style-docs content" id="page-top">
    {{> listPartialContentTree docsTree.children }}
  </div>
</body>

</html>
